.Engineering_header_all{
    text-align : center;
}

.Engineering_header_1{
    font-family: 'Otomanopee One', cursive;
    margin: 2rem 0;
}

.Engineering_header_2{
    font-size: .5rem;
    margin: 2rem 0;
}

.Engineering_footer_all{
    text-align: center;

}
.Engineering_footer_1{
    font-size: 0.5rem;
    margin: 2rem 0;
}

.mw-500{
    max-width : 500px;
    padding : 1rem 1.5rem;

}
.profile_image{
    height : 20rem;
    width : 20rem;
    border-radius: 20rem;
    object-fit: cover;
}
.NMS_B{
    font-family: "NanumSquareB", cursive;
}