.Engineering_header_all{
    text-align : center;
}

.Engineering_header_1{
    font-family: 'Otomanopee One', cursive;
    margin: 2rem 0;
}

.Engineering_header_2{
    font-size: .5rem;
    margin: 2rem 0;
}

.Engineering_footer_all{
    text-align: center;

}
.Engineering_footer_1{
    font-size: 0.5rem;
    margin: 2rem 0;
}

.mw-500{
    max-width : 500px;
    padding : 1rem 1.5rem;

}
.profile_image{
    height : 20rem;
    width : 20rem;
    border-radius: 20rem;
    object-fit: cover;
}
.NNS_B{
    font-family: "NanumSquareB", cursive;
}

.round_button{
    color : black;
    text-decoration: none;
    box-shadow: 0 0 3px black; <!-- x,y 좌표 -->
    border-radius: 10rem;
    padding : .3rem;
}

.round_button:hover{
    color : greenyellow;
}

.article_image{
    border-radius: 2rem;
    width: 50%;
    box-shadow: 0 0 .5rem grey;
}

.article_content{
    font-size: 1.1rem;
    text-align: left;
    margin: 2rem;
}

.comment_box{
    text-align: left;
    border: solid;
    border-color: #9A53EAFF;
    border-radius:1rem;
    padding: 1rem;
    margin: 1rem;
}

@media screen and (max-width: 500px) {
    html {
        /* default font size 16px; */
        font-size: 13px;
    }
}

a{
    text-decoration: none;
    color: black;

}

a:hover {
    color: black;
}